@import "_base.scss";
@import "_mixin.scss";
@import "_variables.scss";
body, html {
  height: 100%;
  width: 100%;
}
#app {
  width: 100%;
  height: 100%;
  background: $baseBgColor url(../image/bg.png) right bottom no-repeat;
  background-size: 5.8rem auto;
  overflow: hidden;
  position: relative;
}

#body-container {
  position: absolute;
  left: .49rem;
  right: .49rem;
  top: .69rem;
  bottom: .56rem;
  // width: 6.48rem;
  background: url(../image/border_container.png) 0 0 no-repeat;
  background-size: 100% 100%;
  overflow-y: scroll;
  padding-bottom: .2rem;
  &::-webkit-scrollbar {
    display: none;
  }
}
