*{padding:0; margin:0;}

body { background: url(img/bg.jpg); background-size:cover; background-attachment:fixed; }

#head {
	width:100%;
	box-sizing:border-box;
	padding:1em;
	margin-bottom:2em;
	border-bottom:1px #EEEEEE solid;
	background:rgba(0,0,0,0.3);
	color:#FFFFFF;
}

	#head h1 {
		font-size:2em;
		font-weight:600;
		color:#EEE;
		line-height:2em;
		text-align:center;
	}
	#head h1 a { color:#EEE; text-decoration:none;}
	#head h1 a:hover { color:#FFF;}
	#head .description {
		color:#FFF;
		line-height:2em;
		text-align:center;
	}

#wrapper { width:100%;}

.sidebar {
	float:left;
	background:none;
	width:21%;
}

	.side-block {
		width:auto;
		margin:0 0.6em 1.6em 0.6em;
		padding: 0.8em 1em 2em 1em;
		background:#F0F0F0;
		border:0 solid #666;
		box-shadow:0 0 5px rgba(0,0,0,0.3);
		border-radius: 6px;
	}

	.side-block .func-list {
		list-style:none;
		color:#666;
		line-height: 2em;
		padding:0.3em 0;
	}

		.func-list li{
			border-top:1px dashed #CCCCCC;
			padding: 0 0.6em;
		}
			.func-list li a {
				text-decoration:none;
				color: #999;
			}
			.func-list li a:hover {
				text-decoration:underline;
				color:#ff9933;
			}


#page-body {
	float:left;
	width:78%;
	padding-bottom: 2em;
}

#page-body ul {
	margin:0 0.6em 2em 2em;
}

	.post_list_item {
		margin-bottom:2em;
		list-style:none;
	}

	.post_head {
		position: relative;
		width:auto;
		padding: 0.6em 1em 0.3em 2em;
		background:rgba(0,0,0,0.6);
		border-radius: 6px 6px 0 0 ;
		box-shadow:0 0 5px rgba(0,0,0,0.3);
	}

		.post_head h3 {
			color:#FFF;
			font-size:1.6em;
			line-height:1.6em;
		}
		.post_head h3 a{color:#FFF; text-decoration:none; }
		.post_time {
			font-size:1em;
			color: #EEE;
			line-height:1.6em;
		}
		.post_head .dot_btn {
			display: block;
			position: absolute;
			bottom: -27px; right: 64px;
			height:54px; width:54px;
			color: #333;
			background: #ff9933;
			border: none;
			box-shadow: 0 0 5px rgba(0,0,0,0.6);
			border-radius: 50%;
			line-height:54px;
			text-align: center;
			color: #cc6633;
			font-size: 28px;
		}

	.post_block {
		background:#FFF;
		border:1px solid #666;
		box-shadow:0 0 5px rgba(0,0,0,0.3);
		padding:2em 0.8em 2em 0.8em;
		border-radius: 0 0 6px 6px;
	}

	.page_jump {
		width:100%;
		text-align: center;
	}
		.previous_page, .next_page { 
			display:inline-block;
			width:5em;
			margin: 0 0.3em;
			line-height:2em;
			text-align: center;
			border-radius:10em;
			background: #EEE;
			color: #666;
			border: 2px solid #ffcc66;
			box-shadow: 0 0 3px rgba(0,0,0,0.2);
		}
		.previous_page a , .next_page a { color:#666; text-decoration:none; }




/********* ViewPOst ***********/

.post_main_page { 
	padding:0 2em 1em 2em;
}

.post_main_page .post_title {
	width:auto;
	padding: 0.6em 1em 0.3em 2em;
	background:rgba(0,0,0,0.6);
	border-radius: 6px 6px 0 0 ;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
}
	.post_main_page .post_title h3 {
		color:#FFF;
		font-size:2em;
		line-height:1.6em;
	}


.post_main_page .post_main { 
	display:table;
	width:100%;
	background:#FFF;
	border:none;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	padding:0;
	border-radius: 0 0 1em 1em;
	overflow:hidden;
	margin-bottom: 2em;
}

	.post_main_page .post_main .post_note{ 
		display:table-cell;
		width:16%;
		padding: 0.8em 0.6em;
		background:#F0F0F0;
		min-width:140px;
	}
		.post_note li { margin-bottom: 0.8em; list-style: none; line-height: 1.4em;}
		.post_note .item-name{ color: #FFA500; font-weight: bolder;}
		.post_note .item-cont{ color: #999; }


	.post_main_page .post_main .post_content {
		padding:1em 1em 3em 1em;
	}
		.post_main_page .post_content img{
			max-width:100%;
		}


.post_main_page #action_bar {
	width:100%;
	padding: 0;
	box-sizing: border-box;
	margin-bottom: 4em;
}
	#action_bar ul { text-align:center;}
	#action_bar li {
		display: inline-block;
		margin: 0 6px;
		padding: 0 6px;
		border-radius: 99em;
		background:#FFA500;
		line-height:2em; height:2em; width:3em; font-size:1.6em;
		color: #990000;
	}
		#action_bar li i{ margin-right: 6px; } 
		#action_bar .good-btn.clicked { background: #2DB157; color:#FFFFFF;}
		#action_bar a { color:inherit; text-decoration:none; }
	



.post_main_page #comment_list {
	background:#F6F6F6;
	border:none;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	padding:2em 0.8em 1em 0.8em;
	border-radius: 1em 1em 0 0;
	overflow:hidden;
}

#comment_list h2 {
	margin: 0 0 0 1em;
	font-size:1.3em;
	font-weight: normal;
}

.comment_ul {
	list-style:none;
}

.comment_ul li {
	width:auto;
	margin:1em 0;
	padding:0.6em 1em;
	background:#FFF;
	border-radius: 0.6em;
}

.comment_title {
	font-weight:600;
	font-size:1.1em;
	border-bottom:1px dashed #CCCCCC;
	padding: 0.3em 0;
}

.comment_content {
	font-size:0.9em;
	font-weight:normal;
	padding: 0.5em 0;
}

.timestamp {
	text-align: right;
	color:#CCCCCC;
}


#new_comment { 
	width:auto;
	padding: 2em 0.8em 2em 0.8em;
	background:rgba(0,0,0,0.6);
	border-radius: 0 0 1em 1em;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
}

	.new_comment_sidebar {
		float:left;
		width:200px;
		padding:1em 0.3em 0 0.3em;
		color:#FFF;
		box-sizing:border-box;
	}
	.comment_form {
		margin-left: 200px;
		padding:1em 0.3em 0 3em; 
		border-left: 1px dashed #EEE;
	}
		.comment_form_title { width:90%; margin-bottom:0.8em;}
			.comment_form_title input {
				width:100%;
				box-sizing:border-box;
				padding:0.3em 0.8em;
				font-size:1em;
				line-height:1.9em;
				border-radius:6px;
				border:none;
				box-shadow: 0 0 0 2px orange;
			}
			.comment_form_title input:focus {box-shadow: 0 0 0 4px orange;}
		.comment_form_content { width:90%; margin-bottom:0.8em;}
			.comment_form_content textarea {
				width:100%;
				box-sizing:border-box;
				font-size:1em;
				line-height:1.2em;
				padding:0.6em 0.8em;
				border-radius:6px;
				border:none;
				box-shadow: 0 0 0 2px #FFA500;
			}
			.comment_form_title textarea:focus {box-shadow: 0 0 0 4px orange;}
		.comment_form_submit { width:90%; }
			.comment_form_submit input {
				padding:0.3em 2em; 
				font-size:1.2em;
				background:orange;
				border:1px #cccc00 solid;
				border-radius:6px;
				color:#990000;
			}


footer#footer {
	width:100%;
	box-sizing:border-box;
	padding:1em;
	border-top:1px #EEEEEE solid;
	background:rgba(0,0,0,0.4);
	color:#FFFFFF;
	text-align: center;
}





