<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	  <meta content="yes" name="apple-mobile-web-app-capable" />
	  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
	  <meta content="telephone=no" name="format-detection" />
	  <meta name="description" content="校内学生的互帮互助平台，解决各种问题">
	  <meta name="keywords" content="帮帮忙，解决问题，互帮互助">
	  <meta name="author" content="BingYan">
    <title>小二集市</title>
    <style>
      #cnzz_stat_icon_1261449291 {
            display: none;
        }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="top-bar"></div>
      <div id="body-container">
        <buy-container :detail="detail" :pid="pid"></buy-container>
      </div>
    </div>
    <!-- built files will be auto injected -->
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261449291'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1261449291' type='text/javascript'%3E%3C/script%3E"));</script>
  </body>
</html>
